//ch
@font-face {
  font-family: 'Circular Std Book';
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2');
  unicode-range: U+4E00-9FFF;
}
//en
// @font-face {
//   font-family: 'Circular Std Book';
//   src: local('Circular Std Book');
//   unicode-range: U+0000-024F;
// }

html,
body,
#app{
  height: 100%;
  margin: 0;
  padding: 0;

  box-shadow : rgba(0,0,0,0.15) 0 2px 8px;
  border:1px solid #eae6e6;
  font-size:14px;
  color:gray;

  font-family: 'Circular Std Book';

}

html {
  overflow-x: hidden;

}


// #inffits_tryon_window{
//   @import "@/css/css-in/iframe_style.min.css";
// }
