html,
body,
#app{
  height: 100%;
  margin: 0;
  padding: 0;

  box-shadow : rgba(0,0,0,0.15) 0 2px 8px;
  border:1px solid #eae6e6;
  font-size:14px;
  color:gray;

  font-family: 'Circular Std Book';

}

html {
  overflow-x: hidden;

}

